.button {
  composes: icon from '../styles/glassButton.module.css';
  color: var(--text);
}

.button:hover:not(:disabled) {
  color: var(--text);
}

.buttonLoading {
  composes: button;
}

.buttonError {
  composes: button;
  color: var(--warning);
}

.buttonError:hover:not(:disabled) {
  color: var(--warning);
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
